   <div class="card">
        <h1 class="card-title"><img src="{{flag}}" alt="flag of {{name}}" class="card-flag">
            {{name}}</h1>
        <p class="card-text"><span>Capital:</span> {{capital}}</p>
        <p class="card-text"><span>Population:</span> {{population}}</p>
        <p class="card-text"><span>Languages:</span> {{languages}}</p>
    </div>
